html, body {
	height: 100%;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.source {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
}

.source a {
	color: #fff;
	text-decoration: none;
}

.source a span {
	opacity: 0.32;
}

.phone {
	display: flex;
	width: 25em;
	height: 25em;
	background-color: #f3f3f3;
	border-radius: 32px;
	overflow: hidden;
}

.phone-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6em;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #fff;
	margin-top: auto;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.nav-item {
	position: relative;
	display: flex;
	padding: 8px;
	border-radius: 16px;
}

.nav-item:nth-child(1) {
	background-color: #e8e2f6;
}

.nav-item:nth-child(1) label {
	background-color: #5b37b7;
}

.nav-item:nth-child(1) span {
	color: #5b37b7;
}

.nav-item:nth-child(1) span:before {
	background-color: #5b37b7;
}



.nav-item:nth-child(2) {
	background-color: #f6e3f1;
}

.nav-item:nth-child(2) label {
	background-color: #b73892;
}

.nav-item:nth-child(2) span {
	color: #b73892;
}

.nav-item:nth-child(2) span:before {
	background-color: #b73892;
}



.nav-item:nth-child(3) {
	background-color: #fff3d9;
}

.nav-item:nth-child(3) label {
	background-color: #eda600;
}

.nav-item:nth-child(3) span {
	color: #eda600;
}

.nav-item:nth-child(3) span:before {
	background-color: #eda600;
}


.nav-item:nth-child(4) {
	background-color: #afedf7;
}

.nav-item:nth-child(4) label {
	background-color: #1194aa;
}

.nav-item:nth-child(4) span {
	color: #1194aa;
}

.nav-item:nth-child(4) span:before {
	background-color: #1194aa;
}

.nav-item * {
	cursor: pointer;
}

.nav-item label {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-color: inherit;
	border-radius: 50%;
}

.nav-item label:before {
	content: "";
	position: absolute;
	top: -100%;
	left: -100%;
	width: 300%;
	height: 300%;
	background-color: transparent;
}

.nav-item span {
	font-size: 0.875em;
	margin-left: 0;
	max-width: 0;
	overflow: hidden;
	transition-property: max-width, margin-left;
	transition-duration: 0.32s;
	transition-timing-function: ease;
}

.nav-item span:before {
	content: "";
	opacity: 0;
	position: fixed;
	z-index: -1;
	top: 50%;
	margin-top: -100rem;
	left: 50%;
	margin-left: -100rem;
	width: 200rem;
	height: 200rem;
	transform-origin: center;
	transform: scale(0.1);
	border-radius: 50%;
	transition-property: opacity, transform;
	transition-duration: 0.32s;
	transition-timing-function: ease;
}

.nav-item input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.nav-item input:checked + span {
	max-width: 100vw;
	margin-left: 4px;
}

.nav-item input:checked + span:before {
	opacity: 1;
	transform: scale(1);
}
