body {
	background-color: #af8cf0;
	margin-top: 14rem;
}

.Writing {
	background-color: #FFE339;
	transition-duration: 0.3s;
}

.btn.Writing {
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.btn.Writing:hover, .btn.active.Writing {
	background: #ffdc06;
	border-bottom: 1px solid #d2b400;
}

.Drawing {
	background-color: #F9666E;
	transition-duration: 0.3s;
}

.btn.Drawing {
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.btn.Drawing:hover, .btn.active.Drawing {
	background: #f7353f;
	border-bottom: 1px solid #f00916;
}

.Random {
	background-color: #af8cf0;
	transition-duration: 0.3s;
}

.btn.Random {
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.btn.Random:hover, btn.active.Random {
	background: #905fea;
	border-bottom: 1px solid #7032e4;
}

.Compliment {
	background-color: #63CCEC;
	transition-duration: 0.3s;
}

.btn.Compliment {
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.btn.Compliment:hover, .btn.active.Compliment {
	background: #36bde6;
	border-bottom: 1px solid #19a5d0;
}

.Quote {
	background-color: #81e6a0;
	transition-duration: 0.3s;
}

.btn.Quote:hover, .btn.active.Quote {
	background: #56de80;
	border-bottom: 1px solid #2cd560;
}

.btn {
	margin-bottom: 5px;
}

.btn.active {
	font-weight: bold;
}

.note #category {
	display: inline-block;
}

.note #prompt {
	font-size: 3rem;
}

