*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1;
	color: #333;
	background: url(./img/keyboard.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

button {
	font: inherit;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
}

.hidden {
	display: none !important;
}

.card {
	display: flex;
	flex-direction: column;
	width: 63rem;
	min-height: 54rem;
	max-width: 90vw;
	border-radius: 5px;
	background-color: #1f1e22;
	box-shadow: 0 2.5rem 15rem rgba(0, 0, 0, 0.7);
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
}

.card-title {
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
}

.categories-container {
	position: relative;
}

.categories {
	display: flex;
	max-width: 90vw;
	overflow: hidden;
}

.categories-scroll {
	flex-shrink: 0;
	width: 3rem;
	height: 3rem;
	border: none;
	position: absolute;
	top: calc(50% - 1.5rem);
	z-index: 2;
	border-radius: 50%;
	background-color: #19ba30;
	outline: none;
	transition: background-color 250ms ease;
}

.categories-scroll:hover,
.categories-scroll:focus {
	background-color: #1bcc35;
}

.categories-scroll::before {
	content: "";
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: calc(50% - 0.5rem);
	left: calc(50% - 0.5rem);
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.categories-scroll-left {
	left: -1.5rem;
}

.categories-scroll-left::before {
	transform: translateX(2px) rotate(-45deg);
}

.categories-scroll-right {
	right: -1.5rem;
}

.categories-scroll-right::before {
	transform: translateX(-2px) rotate(145deg);
}

.category {
	flex-shrink: 0;
	width: 20rem;
	height: 20rem;
	margin: 0 0.5rem;
	position: relative;
}

.category:first-child {
	margin-left: 0;
}

.category:last-child {
	margin-right: 0;
}

.category::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	border: 3px solid transparent;
	border-radius: 3px;
	pointer-events: none;
	transition: border-color 150ms ease;
}

.category-selected::before {
	border-color: #19ba30;
}

.category-link {
	display: block;
	height: 100%;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

.category-image {
	width: 100%;
}

.category-name {
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2rem;
	color: #707070;
	background-color: #fff;
}

.category-name::before {
	content: "";
	width: 1.4rem;
	height: 0.8rem;
	position: absolute;
	top: calc(50% - 0.4rem);
	right: 2rem;
	border-left: 3px solid #19ba30;
	border-bottom: 3px solid #19ba30;
	transform: translateY(-2px) rotate(-45deg) scale(0);
	transition: transform 200ms cubic-bezier(0.25, 0.1, 0.54, 1.75);
}

.category-selected .category-name {
	color: #333;
}

.category-selected .category-name::before {
	transform: translateY(-2px) rotate(-45deg) scale(1);
}

.infobox {
	text-align: center;
	margin-bottom: 1rem;
}

.infobox p {
	line-height: 1.2;
}

.infobox p:first-child {
	color: #fff;
	opacity: 0.3;
}

.infobox p:last-child {
	color: #34c044;
}

.card-footer {
	display: flex;
	align-items: center;
	padding: 0 3rem;
	height: 10rem;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
}

.card-steps {
	display: flex;
	align-items: center;
	margin-right: auto;
	position: relative;
}

.card-steps-item {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: calc(50% - 2rem);
	left: 0;
	font-size: 0;
	text-align: center;
	line-height: 4rem;
	color: #fff;
	border-radius: 50%;
	background-color: #707070;
}

.card-steps-item:nth-child(2) {
	left: 1.2rem;
	opacity: 0.8;
	transform: scale(0.8);
}

.card-steps-item:nth-child(3) {
	left: 2.4rem;
	opacity: 0.5;
	transform: scale(0.6);
}

.card-steps-item:nth-child(4) {
	left: 3.6rem;
	opacity: 0.2;
	transform: scale(0.4);
}

.card-steps-item-current {
	z-index: 1;
	font-size: 1.6rem;
	background-color: #19ba30;
	opacity: 1;
}

.card-button {
	display: block;
	padding: 1.5rem 2.5rem;
	border: none;
	background-color: transparent;
}

.card-button-disabled {
	color: #999;
}

@media all and (max-width: 600px) {
	body {
		align-items: flex-start;
	}
	.card {
		margin: 2rem;
	}
	.card-content {
		align-items: stretch;
	}
	.card-title {
        margin-bottom: 3rem;	
	}
	.categories {
		flex-direction: column;
		padding: 0 1rem;
	}
	.categories-scroll {
		display: none !important;
	}
	.category {
		width: 100%;
		height: auto;
		margin: 0.5rem 0;
	}
	.infobox {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
}
