@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
:root {
	--bgColor: #666;
	--textPrimary: #fff;
	--textSecondary: #666;
	--primaryColor: #F08000;
}
body {
	  font-family: "Dokdo", system-ui;
	  background-color: var(--bgColor);
	  color: var(--textPrimary);
	  font-size: 1.5rem;

}

h1 {
	color: var(--primaryColor);
}

h1 svg {
	width: 40px;
	font-weight: 400;
    font-style: normal;
	fill: var(--primaryColor);

}
